de_techtest.pdf
postgres/sample_data
airflow/logs
airflow/config/bq-credential.json
airflow/config/pub-credential.json
airflow/config/sub-credential.json
airflow/dags/__pycache__
airflow/dags/scripts/__pycache__